# Configuration files
.env
config.yml
sqreen.yaml

# Dependecies
vendor/
.gocache/

# Temporary files and binaries
tmp/
/platform-backend
/server

# Coverage and testing output
cobertura.xml
coverage.txt
junit.xml
